@font-face {
  font-family: CothamSans;
  src: url("/CothamSans.otf") format("opentype");
}

@font-face {
  font-family: CothamSans;
  font-weight: bold;
  src: url("/CothamSans.otf") format("opentype");
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  /* this is the breakpoint where the container won't grow any larger (centered) */
  @media (min-width: 868px) {
    @content;
  }
}

:root {
  --alabaster: #efe7da;
  --xanthous: #ffc145;
  --midnight-green: #0e4749;
  --dark-green: #002626;
  --foreground: var(--alabaster);
  --background: var(--midnight-green);
  --primary: var(--xanthous);
  --secondary: var(--caramel);
  --footer: var(--dark-green);
}

/** general elements **/
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html,
body {
  margin: 0;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer > section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

h1,
h2,
h3 {
  font-family: CothamSans, sans-serif;
  color: var(--foreground);
}

/** Layout Header **/
header {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  padding: 2rem 1.5rem;

  & > a {
    grid-column: span 3;
    text-decoration: none;
  }

  h1 {
    color: var(--primary);
    font-size: 1.5rem;
    margin: 0;

    span {
      color: var(--foreground);
    }
  }

  nav {
    grid-column: span 6;
    display: flex;
    justify-content: center;

    ul {
      margin: 0;

      li {
        display: inline-block;
        padding: 0 0.5rem;

        a {
          font-size: 1.2rem;
          font-weight: bold;
          color: var(--foreground);
          text-decoration: none;

          &.active,
          &.ancestor {
            color: var(--primary);
          }
        }
      }
    }
  }
}

/** Layout Footer **/
footer {
  background: var(--footer);
  color: var(--foreground);
  margin-top: 2rem;

  & > section {
    padding: 2rem 0;
    font-weight: bold;
  }
}

/** content **/
main {
  flex-grow: 1;

  h1 {
    font-size: 4rem;
    line-height: 1.2;
  }

  time {
    display: block;
    font-size: 1em;
  }

  section {
    &.articles {
      display: grid;

      @include md {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }

      @include lg {
        grid-template-columns: repeat(3, 1fr);
      }

      article {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        img {
          aspect-ratio: 16 / 9;
          object-fit: cover;
        }

        .tag-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 0.25rem;

          a.tag {
            display: inline-block;
            background: var(--footer);
            border-radius: 1rem;
            padding: 0.25rem 0.5rem;
            margin: 0.25rem 0 0 0;
            text-decoration: none;
          }
        }

        div {
          position: relative;
          border-radius: 0.5rem;
          overflow: hidden;
          display: flex;
          margin-bottom: 0.5rem;

          &.no-image::before {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "No image available";
            text-shadow: #000 0 0 4px;
          }

          p {
            margin: 0.25rem 0;
          }
        }
      }
    }

    h2 {
      margin: 0 0 0.5rem 0;
    }

    p,
    li {
      font-size: 1.1rem;
      line-height: 1.4;
    }

    a {
      color: var(--primary);
      text-decoration: underline;
    }
  }
}
