{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}


  <section class="articles">
    {{ range .Pages }}

      {{ $image := "" }}
      {{ $alt := "" }}
      {{ $imageClassName := "" }}
      {{ if .Params.image.src }}
        {{ $image = printf "%s%s" .RelPermalink .Params.image.src }}
        {{ $alt = .Params.image.alt }}
      {{ else }}
        {{ $image = "/blog-post-no-image.jpg" }}
        {{ $alt = printf "%s%s" .LinkTitle " has no image" }}
        {{ $imageClassName = "no-image" }}
      {{ end }}


      <article>
        <div class="{{ $imageClassName }}">
          <img src="{{ $image }}" alt="{{ $alt }}" />
        </div>

        <div class="tag-list">
          {{ range .Params.tags }}
            <a href="/tag/{{ . }}" class="tag">
              {{ . | strings.FirstUpper }}
            </a>
          {{ end }}
        </div>

        <time datetime="{{ .Params.date }}">
          {{ .Params.date.Format .Site.Params.dateFormat }}
        </time>

        <h2>{{ .LinkTitle }}</h2>

        {{ .Summary }}


        <a href="{{ .RelPermalink }}">Read more</a>
      </article>
    {{ end }}
  </section>
{{ end }}
